{% load crispy_forms_tags %}
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        
        <link rel="stylesheet" href="/static/css/main.css" /><!-- Lien vers la feuille de style -->
		<title>La Classe à l'envers – {% block title %}Bienvenue{% endblock %}</title> 
		
		
		
	</head>

	<body id="{% block bodyId %}genericPage{% endblock %}">
		
		<header id="test")>
		{% block headerContent %}{% endblock %}
		</header>

		<section id="content">
			{% block content %}{% endblock %}
		</section>

	</body>

</html>