<!DOCTYPE html>
<!-- Base HTML doc, Bootstrap template -->
	<head>
		<meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen" /> 
		
		
		
		<title>La Classe à l'envers – {% block title %}Bienvenue{% endblock %}</title> 
		
		
	</head>

	<body id="{% block bodyId %}genericPage{% endblock %}">
		
		<header id="test")>
		{% block headerContent %}{% endblock %}
		</header>

		<section id="content">
		
			
		
			<div class="container">
 				<div class="row">
 				 <div class="center-block col-md-8" style="float: none; background-color: #F5F4EF">
					{% block content %}{% endblock %}
			
			
			
   
    </div>
  </div>
				
		
			</div><!-- container -->
		</section>
	
	</body>

</html>